<footer id="main-footer" class="mt-5 py-2 bg-transparent text-dark text-center">
    Copyright &copy;
    <span class="year"></span> asktheporter
    <div class="contact_dev"><i class="fas fa-phone text-muted"></i><span> <a href="tel:0559305117">Contact the dev
                (JA)</a> | <a href="mailto:aggorjefferson@gmail.com"><i
                    class="fas fa-envelope text-muted"></i></a></span></div>
</footer>