<nav class="bg-dark">
    <div class="container">
        <div class="navbar">
            <h3>Hostel Booker</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>
    </div>

</nav>