<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/css/all.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <!-- Custom -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/App.css" />
    <title>asktheporter</title>
</head>

<body>

    {{> _navbar}}

    {{{body}}}

    {{> _footer}}



    <script src="/assets/js_new/jquery-3.3.1.min.js "></script>
    <script src="/assets/js_new/bootstrap.bundle.min.js "></script>
    <script src="/assets/js_new/lightbox.min.js"></script>
    <script src="/assets/js_new/main.js "></script>
</body>

</html>