<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asktheporter | Home</title>
</head>
<body>
    <section id="showcase">
        <div class="container text-center">
            <div class="home-search p-5">
                <div class="overlay p-5">
                    <h1 class="display-4 mb-4">
                        Hostel Booking Just Got So Easy
                    </h1>
                    <p class="lead"> <i class="text-danger fas fa-map-marker fa-2x"></i> Book a room at the click of a
                        button.</p>
    
                </div>
            </div>
        </div>
    </section>
    
    
    <section id="locations" style="min-height: 50vh;">
        <div class="container">
            {{> _alerts}}
            <p class="large">
            <h2 class="text-grey">Where would you like to be ?</h2>
            </p>
            <div class="grid-2-custom">
                <ul class="my-2">
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/ayeduase" class="lead">Ayeduase</a>
                    </li>
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/ayigya" class="lead">Ayigya</a>
                    </li>
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/boadi" class="lead">Boadi</a>
                    </li>
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/bomso" class="lead">Bomso</a>
                    </li>
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/emena" class="lead">Emena</a>
                    </li>
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/kentenkrono" class="lead">Kentenkrono</a>
                    </li>
                    <li class="">
                        <i class="fas fa-map-marker"></i>
                        <a href="/hb/locality-hostels/new-site" class="lead">New Site</a>
                    </li>
                </ul>
                <div class="image">
                    <img src="/assets/img/undraw_select_house_qbag.png" class="" alt="">
                    <p class="text-center text-danger info-text">* Hostels available in KNUST for now *</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

