<!-- showcase -->
<header id="showcase">
    <nav class="navbar border-bottom">
        <div class="container">
            <a class="lead text-center">Hostel Booker</a>
            <ul class="my-2">
                <li><a href="/" class="">Home</a></li>
                <li><a href="/hb/register" class="">
                        <i class="fas fa-user hide-sm"></i>
                        <span>Register</span>
                    </a></li>
                <li><a href="/hb/login">
                        <i class="fas fa-user hide-sm"></i>
                        <span>Login</span>
                    </a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content text-center">
                <h1>Hello</h1>
                <p>Lorem, ipsum dolor.</p>
            </div>
        </div>
    </div>
</header>
<!-- Locations -->

<section id="locations" style="min-height: 50vh;">
    <div class="container">
        {{> _alerts}}
        <p class="large">

        <h3>Select Location</h3>
        </p>
        <div class="grid-2 ">
            <ul class="">
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/ayeduase" class="lead">Ayeduase</a>
                </li>
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/ayigya" class="lead">Ayigya</a>
                </li>
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/boadi" class="lead">Boadi</a>
                </li>
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/bomso" class="lead">Bomso</a>
                </li>
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/emena" class="lead">Emena</a>
                </li>
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/kentenkrono" class="lead">Kentenkrono</a>
                </li>
                <li class="">
                    <i class="fas fa-map-marker"></i>
                    <a href="/hb/locality-hostels/new-site" class="lead">New Site</a>
                </li>
            </ul>
            <div class="image">
                <img src="/assets/img/showcase.jpg" class="hide-sm" alt="">
                <p class="text-center text-danger">* Hotels available in KNUST for now *</p>
            </div>
        </div>
    </div>
</section>